################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeManager/FileContentIndex/f3abea2c-1fa0-4620-a6ff-e70aa14cd80d.vsidx
/.vs/TimeManager/FileContentIndex
/TimeManager/bin/Release/Activities.dat
